<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="autor" content="aktishch@gmail.com">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="img/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="img/favicon/favicon.svg" />
  <link rel="shortcut icon" href="img/favicon/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png" />
  <link rel="manifest" href="img/favicon/site.webmanifest" />
  <title><%= data.title %></title>
</head>

<body>

  <main>

    <!-- Прелоадер -->

    <div class="fixed inset-0 z-50 flex flex-col items-center justify-center transition-[opacity,_visibility] duration-500 bg-white" data-preloader>
      <%= preloader %>
    </div>

    <!-- Фон -->

    <div class="fixed inset-0 bg-grey">
      <%= loader %>
      <picture>
        <source srcset="img/pictures/primal-bg-desktop.webp" media="(min-width: 767.98px)" type="image/webp">
        <source srcset="img/pictures/primal-bg-desktop.jpg" media="(min-width: 767.98px)">
        <source srcset="img/pictures/primal-bg-mobile.webp" type="image/webp">
        <img class="image" draggable="false" loading="lazy" src="img/pictures/primal-bg-mobile.jpg" alt="">
      </picture>
    </div>